.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: rgb(4, 65, 4);
    padding: 3em;
    width: 100%;
    
    
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: 300ms;
}

.link:hover{
    color: gray;
    transition: 300ms;
    font-size: 1.4rem;
    text-decoration: underline;
}