.formulario_control {
    display: flex;
    flex-direction: column;
    margin-bottom: .6em;
    font-weight: bold;
}

.formulario_control label{
    margin-bottom: .6em;
    font-weight: bold;
}

.formulario_control input{
    padding: .7em;
    border-radius: 0;
    border: none;
}

.formulario_control input::placeholder {
    color: #7b7b7b;

}